priority 20

snippet desc "describe block"
describe('${1}', () => {
	${VISUAL}${0}
});
endsnippet

snippet it "it block"
it('${1}', (${2}) => {
	${VISUAL}${0}
});
endsnippet

snippet before "beforeEach block"
beforeEach(() => {
	${VISUAL}${0}
});
endsnippet

snippet after "afterEach block"
afterEach(() => {
	${VISUAL}${0}
});
endsnippet

