priority 20

snippet desc "describe block"
describe('${1}', () => {
	${VISUAL}${0}
})
endsnippet

snippet it "it block"
it('${1}', (${2}) => {
	${VISUAL}${0}
})
endsnippet

snippet before "before block"
before(() => {
	${VISUAL}${0}
})
endsnippet

snippet beforeeach "beforeEach block"
beforeEach(() => {
	${VISUAL}${0}
})
endsnippet

snippet after "after block"
after(() => {
	${VISUAL}${0}
})
endsnippet

snippet aftereach "afterEach block"
afterEach(() => {
	${VISUAL}${0}
})
endsnippet

snippet beforefunc "before block using function cb"
before(function () {
	${VISUAL}${0}
})
endsnippet

snippet beforeeachfunc "beforeEach block using function cb"
beforeEach(function () {
	${VISUAL}${0}
})
endsnippet

snippet afterfunc "after block using function cb"
after(function () {
	${VISUAL}${0}
})
endsnippet

snippet aftereachfunc "afterEach block using function cb"
afterEach(function () {
	${VISUAL}${0}
})
endsnippet

